<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_admin.css">
    <title>Admin panel</title>
</head>
<body>
    <div class="contents">
        <nav class="bar">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="icons">
                <img src="../img/profile.svg">
                <img src="../img/logout.svg">
            </div>
        </nav>
        <div class="container">
        </div>
    </div>  
</body>