<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_day.css">
    <title>Day</title>
</head>
<body>
    <div class="contents">
        <nav class="bar">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="date">
                <p>DATE</p>
            </div>
            <div class="icons">
                <img src="../img/cross.svg">
            </div>
        </nav>
        <div class="container">
            <section class="content">
                
            </section>
            <section class="add-note">
                <button>
                    <img src="../img/add.svg">
                </button>
            </section>
        </div>
    </div>  
</body>