<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_day.css">
    <title>Day</title>
</head>
<body>
    <header class="primary-header flex">
        <div class="logo flex">
            <img src="../img/logo.svg">
        </div>
        <div class="date flex">
            <span>DATE</span>
        </div>
        <a href="week_page.html" class="icons">
            <img src="../img/cross.svg">
        </a>
        </nav>
    </header>    
    <div class="container">
        <section class="content">
                
        </section>
        <section class="add-note flex">
            <button>
               <img src="../img/add.svg">
            </button>
        </section>
    </div>  
</body>