<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_main.css">
    <title>Main page</title>
</head>
<body>
    <div class="contents">
        <nav class="bar">
            <div class="menu">
                <img src="../img/menu.svg">
            </div>
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="pages">
                <button class="b home">
                    <img src="../img/home.svg">
                    Home
                </button>
                <button class="b">
                    <img src="../img/week_org.svg">
                    Week
                </button>
                <button class="b">
                    <img src="../img/month_org.svg">
                    Month
                </button>
            </div>
            <div class="icons">
                <img src="../img/profile.svg">
                <img src="../img/logout.svg">
            </div>
        </nav>
        <div class="container">
            <p>Latest notes</p>
            <section class="first">
                <div class="note">
                    
                </div>
                <div class="note">
                    
                </div>
                <div class="note">
                    
                </div>
            </section>
            <section class="second">
                <div class="action-button">
                    <strong>ADD</strong>
                    <img src="../img/add.svg">
                </div>
            </section>
        </div>
    </div>  
</body>