<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_month.css">
    <link rel="stylesheet" type="text/css" href="../css/style_navbar.css">
    <script src="../scripts/nav.js" defer></script>
    <title>Month</title>
</head>
<body>
    <header class="primary-header flex">
        <div class="flex">
            <img src="../img/logo.svg" class="logo">
        </div>

        <button class="mobile-nav-toggle" aria-controls="navigation-bar" aria-expanded="false">
            <span class="btn">
                Menu
            </span>
        </button>

        <nav id="navigation-bar" data-visible="false" class="navigation-bar flex">
            <ul id="navigation" class="navigation list flex">
                <li class="nav-button">
                    <a href="main_page.html">
                        <img src="../img/home.svg" class="icon">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-button">
                    <a href="week_page.html">
                        <img src="../img/week_org.svg" class="icon">
                        <span>Week</span>
                    </a>
                </li>
                <li class="nav-button active">
                    <a href="month.html">
                        <img src="../img/month_wh.svg" class="icon">
                        <span>Month</span>
                    </a>
                </li>
            </ul>
            <ul class="settings list flex">
                <li>
                    <a href="settings.html">
                        <img src="../img/profile.svg" class="enable">
                        <img src="../img/profile_org.svg" class="disable">
                        <span class="disable">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="login.html">
                        <img src="../img/logout.svg" class="enable">
                        <img src="../img/logout_org.svg" class="disable">
                        <span class="disable">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>