<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register page</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form>
                <div class="sign">
                    <p>Sign Up</p>
                </div>
                <input name="username" type="text" placeholder="username">
                <input name="email" type="email" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <div class="register-button">
                    <a href="login.html" class="back-btn">
                        <img src="../img/arrow.svg">
                    </a>
                    <a href="main_page.html" class="btn">
                        <span>Register</span>
                    </a>
                </div>
            </form>
        </div>
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
    </div>
</body>