<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_week.css">
    <title>Week</title>
</head>
<body>
    <div class="contents">
        <nav class="bar">
            <div class="menu">
                <img src="../img/menu.svg">
            </div>
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="pages">
                <button class="b">
                    <img src="../img/home.svg">
                    <span>Home</span>
                </button>
                <button class="week b">
                    <img src="../img/week_wh.svg">
                    <span>Week</span>
                </button>
                <button class="b">
                    <img src="../img/month_org.svg">
                    <span>Month</span>
                </button>
            </div>
            <div class="icons">
                <img src="../img/profile.svg">
                <img src="../img/logout.svg">
            </div>
        </nav>
        <div class="container">
            <div class="date-nav">
                <button>
                    <img src="../img/arrow.svg">
                </button>
                <p>
                    Example date
                </p>
                <button>
                    <img src="../img/arrow_right_2.svg">
                </button>
            </div>
            <section class="first">
                <div class="day">
                    <div class="header">
                        Monday
                    </div>
                    <div class="details"> 
                        <p>Example note</p>
                        <p>Example note</p>
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Tuesday
                    </div>
                    <div class="details"> 
                        <p>Example note</p>
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Wednesday
                    </div>
                    <div class="details"> 
                        <p>Example note</p>
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Thursday
                    </div>
                    <div class="details"> 
                        
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Friday
                    </div>
                    <div class="details"> 
                        
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Saturday
                    </div>
                    <div class="details"> 
                        
                    </div>
                </div>
                <div class="day">
                    <div class="header">
                        Sunday
                    </div>
                    <div class="details"> 
                        <p>Example note</p>
                    </div>
                </div>
            </section>
        </div>
    </div>  
</body>