
.form-popup {
    display: none;
    position: absolute;
    z-index: 5555;
    bottom: 1rem;
    width: 50%;
    height: 75%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #707070;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 75%;
}

.exit{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0 0;
    border: solid 1px #707070;
}

.exit-btn {
    margin-right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.add-text {
    font-size: 120%;
    color: white;
    margin-left: 1rem;
}

.title-date {
    width: 80%;
    height: 16%;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.title-date > * {
    height: 50%;
}

.title-date > label > input {
    height: 90%;
}

.title {
    width: 70%;
}

.title > input {
    width: 100%;
}

.date-input {
    width: 25%;
}

.date > input {
    width: 50%;
}

.form-container label > input, textarea {
    border-radius: 10px;
}

.text-area {
    height: 40%;
    width: 80%;
}

.form-container label > textarea {
    height: 100%;
    width: 100%;
}

.submit-btn-div {
    width: 80%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("../img/add.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

@media only screen and (max-device-width: 700px){
    .form-popup {
        width: 60%;
    }

    .add-text {
        display: block;
        font-size: 2rem;
    }

    .exit-btn {
        width: 2rem;
        margin-right: 1.5rem;
    }

    input, textarea {
        font-size: 1.2rem;
    }

    .title-date {
        height: 18%;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-date >  * {
        height: 45%;
    }

    .date-input {
        width: 50%;
    }

    .date-input > input {
        width: 80%;
    }

    .title {
        width: 100%;
    }

    .text-area {
        width: 90%;
    }

    .btn {
        width: 3rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-device-width: 420px){
    .form-popup {
        width: 90%;
    }

    .add-text {
        font-size: 2.5rem;
    }

    .exit-btn {
        margin-right: 2rem;
        width: 3rem;
    }

    .title-date > * {
        height: 40%;
    }

    input, textarea {
        font-size: 2rem;
    }

    .submit-btn-div {
        justify-content: center;
    }

    .btn {
        width: 4rem;
    }
}