body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0 0 no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 55%;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.login-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: min(80%, 25rem);
    height: min(100%, 100rem);
    background: #FFFFFFF5 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 30px;
}

.sign {
    font: normal normal bold 1.563rem/2rem Segoe UI;
}

.error-message {
    display: flex;
    justify-content: center;
    width: 60%;
    color: #EF0000;
    background: #FF000024;
    border: 1px solid #EF0000;
    border-radius: 30px;
}

.error-text {
    font-size: 1.2rem;
}

.reflink {
    width: 70%;
    margin-top: 0.5em;
    text-align: left;
    font: normal normal normal 0.75rem/1.125rem Segoe UI;
}

.reflink > p > a {
    font: normal normal bold 0.75rem/1.125rem Segoe UI;
    color: #FF7C00;
}

.register-button{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 60%;
    height: 2.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    line-height: 3rem;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 40px;color: white;
}

.btn span {
    text-align: center;
    font: normal normal bold 1.1rem/1.4rem Segoe UI;
}

.back-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1/1;
    margin: 1em;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 50%; 
}

.back-btn img {
    max-height: 80%;
}

label {
    width: 80%;
    justify-content: center;
}

input {
    background: #FFFFFFAB 0 0 no-repeat padding-box;
    font: normal normal normal 0.8rem/1.125rem Segoe UI;
    border: 1px solid #707070;
    border-radius: 41px;
    padding: 1em;
    margin: 0.4em;
    width: 80%;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    * {
        font-size: 2rem;
    }

    .login-container, .logo {
        width: 90%;
    }

    .logo {
        text-align: right;
    }

    .btn span{
        font-size: 1.3rem;
    }

    form {
        width: 80%;
        height: min(100%, 100rem);
    }

    .reflink > p {
        font-size: 1rem;
    }

    .reflink > p > a {
        font-size: 1rem;
    }

    .register-button {
        flex-direction: column-reverse;
    }
}