a {
    text-decoration: none;
    width: 80%;
    height: 80%;
}

.flex {
    display: flex;
    gap: 0.5rem;
}

.primary-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0% 0% no-repeat padding-box;
}

.primary-header > div {
    justify-content: start;
    align-items: center;
    height: 10vh;
    width: 25%;
}

.logo {
    margin-left: 1rem;
    width: 80%;
    height: 90%;
}

.mobile-nav-toggle {
    display: none;
}

.mobile-nav-toggle span {
    display: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-bar {
    width: 50%;
    height: 10vh;
}

.navigation {
    width: 85%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.settings {
    width: 15%;
    height: 100%;
    align-items: center;
}

.nav-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: 1px solid #707070;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
}

.nav-button  a {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

span {
    font: normal normal bold min(100%, 1.4rem) Segoe UI;
    color: #FF7C00;
}

.icon {
    height: 80%;
    width: 40%;
}

img {
    max-width: 100%;
}

.active {
    background-color: #9c5326e6;
}

.active span {
    color: #FFFFFF;
}

.disable {
    display: none;
}

@media only screen and (max-device-width: 700px){
    .navigation-bar{
        width: 70%;
    }
    
    .nav-button > a {
        justify-content: center;
    }
    
    span {
        display: none;
    }
}

@media only screen and (max-device-width: 420px){
    .navigation-bar{
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0% 0% no-repeat padding-box;
        border-left: solid 2px #808080;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation-bar[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-header div {
        justify-content: center;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 3rem;
        aspect-ratio: 1/1;
        top: 4rem;
        right: 4rem;      
        background-color: transparent;
        background-image: url("../img/menu.svg");
        background-repeat: no-repeat;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url("../img/cross.svg");
    }

    .navigation-bar > * {
        flex-direction: column;
    }

    .navigation {
        justify-content: end;
        margin-top: 3rem;
        width: 100%;
    }

    .nav-button {
        border: solid 1px #000;
        width: 80%;
        height: 15%;
    }

    .nav-button a {
        justify-content: start;
    }

    span {
        display: contents;
        font-size: 2rem;
    }

    .settings {
        width: 100%;
    }

    .settings li {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 19px;
        border: 1px solid #000;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 80%;
    }

    .settings a {
        display: inline-flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .settings a img {
        height: 80%;
        width: 40%;
    }

    .enable {
        display: none;
    }

    .disable{
        display: block;
    }
}