body {
    margin: 0;
    
}

.contents {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center; 
}

.bar {
    width: 100vw;
    height: 10%;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
}

.menu {
    display: none;
}

.pages {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.b {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: 1px solid #707070;
    display: inline-block;
    margin-right: 0.2rem;
    height: 60%;
    width: 33%;
    font: normal normal bold 0.75rem/1.125rem Segoe UI;
    color: #FF7C00;
}

.home {
    background-color: #9c5326e6;
}

.pages > button > img {
    width: 25%;
    height: 75%;
}

.logo {
    width: 25%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
}

.logo > img {
    height: 4.5rem;
    max-width: 80%;
}

.icons {
    width: 25%;
    height: 100%;
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons > img {
    margin-left: 1.5rem;
    height: 2rem;
    max-width: 100%;
    max-height: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.container > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    margin-bottom: 0;

    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 38px;
    width: 45%;
    height: 7%;

    font: normal normal normal 1.8rem/4rem Arial;
    color: #fefefe;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    width: 90%;
    height: 60%;
}

section > * {
    border-radius: 25px;
    border: solid 1px #808080;
}

.note {
    background: #BAC00021 0% 0% no-repeat padding-box;
    width: 30%;
    height: 85%;
}

.second {
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.action-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background: #BAC00021 0% 0% no-repeat padding-box;
    width: 45%;
    height: min(28%, 6rem);
    font: normal normal bold 1.875rem/2.375rem Arial;
    color: #FF7C00;
}

.action-button > img {
    height: 30%;
}

@media only screen and (max-device-width: 420px) {
    .bar {
        justify-content: left;
        align-items: center;
    }

    .logo {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-left: 0em;
    }

    .logo > img {
        width: 100%;
        height: 90%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 20%;
        height: 100%;  
    }

    .menu >  img {
        width: 50%;
        height: 30%;
    }

    .icons, 
    .pages {
        display: none;
    }

    .container {
        height: 85%;
        width: 100%;
        justify-content: space-between;
    }

    .container > p {
        width: 75%;
        font-size: 3rem;
        
    }

    .first {
        height: 70%;
        flex-direction: column;
        justify-content: start;
    }
    
    .first > * + * {
        margin-top: 2rem;
    }

    .second {
        height: 15%;
        width: 75%;
    }

    .note {
        width: 90%;
        height: 30%;
        margin-right: 0;
    }

    .second {
        align-items: center;
    }

    .action-button {
        height: 45%;
    }
}
