body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    width: 80%;
    height: 80%;
}

.flex {
    display: flex;
    gap: 0.5rem;
}

.primary-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0 0 no-repeat padding-box;
}

.primary-header > div {
    justify-content: start;
    align-items: center;
    height: 10vh;
    width: 25%;
}

.logo {
    margin-left: 1rem;
    width: 80%;
    height: 90%;
}

.mobile-nav-toggle {
    display: none;
}

.mobile-nav-toggle span {
    display: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-bar {
    width: 50%;
    height: 10vh;
    justify-content: end;
    align-items: center;
}

.settings {
    width: 30%;
    height: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 0.8rem;
}

.settings li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30%;
}

.back-btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}

.logout-form, .back {
    height: 80%;
    width: 80%;
}

.logout-form button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url("../img/logout.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}

.disable {
    display: none;
}

span {
    font: normal normal bold min(100%, 1.4rem) Segoe UI;
    color: #FF7C00;
}

.container {
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFFF5 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 30px;
}

.contents {
    height: 95%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user {
    width: 75%;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-bottom: solid 1px #808080;
    justify-content: center;
    align-items: center;
    font: normal normal bold 1.5rem/2.5rem Segoe UI;
    letter-spacing: 0;
    color: #FF7C00;
    opacity: 1;
}

.info {
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: center;
}

.ctn {
    width: 15%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.apply-btn {
    height: 100%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font: normal normal bold 1.2rem/2rem Segoe UI;
    color: #FF7C00;
    opacity: 0.8;
}

.apply-btn:hover{
    text-decoration: underline;
}

.input-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #808080;
    font: normal normal normal 1.2rem/2rem Segoe UI;
    text-align: center;
}

#edit-user, #edit-email, #edit-password {
    display: none;
}

.off {
    display: none;
}

.repeat {
    width: 75%;
    height: 100%;
    flex-direction: column;
}

.twice {
    width: 100%;
}

.message {
    width: 50%;
    height: 1.5rem;
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.message.success {
    color: #44f644;
}

.message.wrong {
    color: red;
}

@media only screen and (max-device-width: 700px){
    .navigation-bar{
        width: 70%;
    }

    .info {
        height: 25%;
    }

    .repeat {
        justify-content: center;
        align-items: center;

    }

    .message {
        height: 3.5rem;
        font-size: 2rem;
    }

    .apply-btn {
         width: 50%;
         font-size: 2rem;
    }

    .user {
        font-size: 2rem;
    }

    input {
        font-size: 1.5rem;
    }
}

@media only screen and (max-device-width: 420px){
    .navigation-bar{
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        background: transparent linear-gradient(180deg, #FF7C00 0%, #BAC000 100%) 0 0 no-repeat padding-box;
        border-left: solid 2px #808080;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation-bar[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-header div {
        justify-content: center;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 3rem;
        aspect-ratio: 1/1;
        top: 4rem;
        right: 4rem;      
        background-color: transparent;
        background-image: url("../img/menu.svg");
        background-repeat: no-repeat;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url("../img/cross.svg");
    }

    .navigation-bar > * {
        flex-direction: column;
    }

    span {
        display: contents;
        font-size: 2rem;
    }

    .contents {
        gap: 2rem;
    }

    .user {
        font-size: 3rem;
    }
    
    .apply-btn {
        width: 50%;
        font-size: 2.5rem;
    }

    .settings {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .settings li {
        background: #FFFFFF 0 0 no-repeat padding-box;
        border-radius: 19px;
        border: 1px solid #000;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 80%;
    }

    .enable {
        display: none;
    }

    .disable{
        display: block;
    }

    .settings {
         gap: 0.5rem;
     }

    .back-btn {
        background-image: url("../img/cross_org.svg");
    }

    .logout-form button {
        background-image: url("../img/logout_org.svg");
    }

    .logout-form, .back {
        width: 60%;
        height: 66%;
    }

    .input-control {
        height: 100%;
    }

    input {
        font-size: 2rem;
    }

    .ctn {
        width: 20%;
    }

    .apply-btn {
        width: 75%;
    }

    .message {
        margin-top: 2rem;
        height: 4rem;
        font-size: 3rem;
    }
}